<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DevExpress.DevAV.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <userSettings>
    <DevExpress.DevAV.Properties.Settings>
      <setting name="EmployeesCustomFilters" serializeAs="Xml">
        <value>
          <ArrayOfFilterInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <FilterInfo>
              <Name>On probation </Name>
              <FilterCriteria>Not IsNull([ProbationReason])</FilterCriteria>
            </FilterInfo>
          </ArrayOfFilterInfo>
        </value>
      </setting>
      <setting name="EmployeesStaticFilters" serializeAs="Xml">
        <value>
          <ArrayOfFilterInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <FilterInfo>
              <Name>All</Name>
            </FilterInfo>
            <FilterInfo>
              <Name>Salaried</Name>
              <FilterCriteria>[Status] = ##Enum#DevExpress.DevAV.EmployeeStatus,Salaried#</FilterCriteria>
            </FilterInfo>
            <FilterInfo>
              <Name>Commission</Name>
              <FilterCriteria>[Status] = ##Enum#DevExpress.DevAV.EmployeeStatus,Commission#</FilterCriteria>
            </FilterInfo>
            <FilterInfo>
              <Name>Contract</Name>
              <FilterCriteria>[Status] = ##Enum#DevExpress.DevAV.EmployeeStatus,Contract#</FilterCriteria>
            </FilterInfo>
            <FilterInfo>
              <Name>Terminated</Name>
              <FilterCriteria>[Status] = ##Enum#DevExpress.DevAV.EmployeeStatus,Terminated#</FilterCriteria>
            </FilterInfo>
            <FilterInfo>
              <Name>On Leave</Name>
              <FilterCriteria>[Status] = ##Enum#DevExpress.DevAV.EmployeeStatus,OnLeave#</FilterCriteria>
            </FilterInfo>
          </ArrayOfFilterInfo>
        </value>
      </setting>
      <setting name="CustomersCustomFilters" serializeAs="Xml">
        <value>
          <ArrayOfFilterInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <FilterInfo>
              <Name>Active</Name>
              <FilterCriteria>[Status] = ##Enum#DevExpress.DevAV.CustomerStatus,Active#</FilterCriteria>
            </FilterInfo>
            <FilterInfo>
              <Name>Suspended</Name>
              <FilterCriteria>[Status] = ##Enum#DevExpress.DevAV.CustomerStatus,Suspended#</FilterCriteria>
            </FilterInfo>
          </ArrayOfFilterInfo>
        </value>
      </setting>
      <setting name="CustomersStaticFilters" serializeAs="Xml">
        <value>
          <ArrayOfFilterInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <FilterInfo>
              <Name>All</Name>
            </FilterInfo>
            <FilterInfo>
              <Name>Stores &gt; 10 Locations</Name>
              <FilterCriteria>[TotalStores] &gt; 10</FilterCriteria>
            </FilterInfo>
            <FilterInfo>
              <Name>Revenues &gt; 100 Billion</Name>
              <FilterCriteria>[AnnualRevenue] &gt; 100000000000.0m</FilterCriteria>
            </FilterInfo>
            <FilterInfo>
              <Name>Employees &gt; 10000</Name>
              <FilterCriteria>[TotalEmployees] &gt; 10000</FilterCriteria>
            </FilterInfo>
          </ArrayOfFilterInfo>
        </value>
      </setting>
      <setting name="ProductsCustomFilters" serializeAs="Xml">
        <value>
          <ArrayOfFilterInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <FilterInfo>
              <Name>Discontinued</Name>
              <FilterCriteria>[Available] = False</FilterCriteria>
            </FilterInfo>
            <FilterInfo>
              <Name>Out of Stock</Name>
              <FilterCriteria>[CurrentInventory] = 0</FilterCriteria>
            </FilterInfo>
          </ArrayOfFilterInfo>
        </value>
      </setting>
      <setting name="ProductsStaticFilters" serializeAs="Xml">
        <value>
          <ArrayOfFilterInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <FilterInfo>
              <Name>All</Name>
            </FilterInfo>
            <FilterInfo>
              <Name>Video Players</Name>
              <FilterCriteria>[Category] = ##Enum#DevExpress.DevAV.ProductCategory,VideoPlayers#</FilterCriteria>
            </FilterInfo>
            <FilterInfo>
              <Name>Automation</Name>
              <FilterCriteria>[Category] = ##Enum#DevExpress.DevAV.ProductCategory,Automation#</FilterCriteria>
            </FilterInfo>
            <FilterInfo>
              <Name>Monitors</Name>
              <FilterCriteria>[Category] = ##Enum#DevExpress.DevAV.ProductCategory,Monitors#</FilterCriteria>
            </FilterInfo>
            <FilterInfo>
              <Name>Projectors</Name>
              <FilterCriteria>[Category] = ##Enum#DevExpress.DevAV.ProductCategory,Projectors#</FilterCriteria>
            </FilterInfo>
            <FilterInfo>
              <Name>Televisions</Name>
              <FilterCriteria>[Category] = ##Enum#DevExpress.DevAV.ProductCategory,Televisions#</FilterCriteria>
            </FilterInfo>
          </ArrayOfFilterInfo>
        </value>
      </setting>
      <setting name="OrdersCustomFilters" serializeAs="Xml">
        <value>
          <ArrayOfFilterInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <FilterInfo>
              <Name>Sales &gt; $5000</Name>
              <FilterCriteria>[TotalAmount] &gt; 5000.0m</FilterCriteria>
            </FilterInfo>
            <FilterInfo>
              <Name>Sales &lt; $5000</Name>
              <FilterCriteria>[TotalAmount] &lt; 5000.0m</FilterCriteria>
            </FilterInfo>
            <FilterInfo>
              <Name>Sales by Jim Packard</Name>
              <FilterCriteria>[EmployeeId] = 41</FilterCriteria>
            </FilterInfo>
            <FilterInfo>
              <Name>Sales by Harv Mudd</Name>
              <FilterCriteria>[EmployeeId] = 43</FilterCriteria>
            </FilterInfo>
            <FilterInfo>
              <Name>Sales by Clark Morgan</Name>
              <FilterCriteria>[EmployeeId] = 44</FilterCriteria>
            </FilterInfo>
            <FilterInfo>
              <Name>Sales by Todd Hoffman</Name>
              <FilterCriteria>[EmployeeId] = 45</FilterCriteria>
            </FilterInfo>
          </ArrayOfFilterInfo>
        </value>
      </setting>
      <setting name="OrdersStaticFilters" serializeAs="Xml">
        <value>
          <ArrayOfFilterInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <FilterInfo>
              <Name>All</Name>
            </FilterInfo>
            <FilterInfo>
              <Name>Today</Name>
              <FilterCriteria>IsOutlookIntervalToday([OrderDate])</FilterCriteria>
            </FilterInfo>
            <FilterInfo>
              <Name>Yesterday</Name>
              <FilterCriteria>IsOutlookIntervalYesterday([OrderDate])</FilterCriteria>
            </FilterInfo>
            <FilterInfo>
              <Name>This Month</Name>
              <FilterCriteria>IsThisMonth([OrderDate])</FilterCriteria>
            </FilterInfo>
            <FilterInfo>
              <Name>This Year</Name>
              <FilterCriteria>IsOutlookIntervalEarlierThisYear([OrderDate])</FilterCriteria>
            </FilterInfo>
            <FilterInfo>
              <Name>Unpaid Orders</Name>
              <FilterCriteria>[PaymentTotal] = 0.0m</FilterCriteria>
            </FilterInfo>
            <FilterInfo>
              <Name>Refunds</Name>
              <FilterCriteria>[RefundTotal] = [TotalAmount]</FilterCriteria>
            </FilterInfo>
          </ArrayOfFilterInfo>
        </value>
      </setting>
      <setting name="QuotesStaticFilters" serializeAs="Xml">
        <value>
          <ArrayOfFilterInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <FilterInfo>
              <Name>All</Name>
            </FilterInfo>
            <FilterInfo>
              <Name>Today</Name>
              <FilterCriteria>IsOutlookIntervalToday([Date])</FilterCriteria>
            </FilterInfo>
            <FilterInfo>
              <Name>Yesterday</Name>
              <FilterCriteria>IsOutlookIntervalYesterday([Date])</FilterCriteria>
            </FilterInfo>
            <FilterInfo>
              <Name>This Month</Name>
              <FilterCriteria>IsThisMonth([Date])</FilterCriteria>
            </FilterInfo>
            <FilterInfo>
              <Name>This Year</Name>
              <FilterCriteria>IsOutlookIntervalEarlierThisYear([Date])</FilterCriteria>
            </FilterInfo>
          </ArrayOfFilterInfo>
        </value>
      </setting>
    </DevExpress.DevAV.Properties.Settings>
  </userSettings>
</configuration>
